$color_1: var(--txt-color);
$color_2: var(--txt-white);
$color_3: var(--calc-btn-color);
$color_4: var(--calc-res-color);
$color_5:  #ffffff;
$color_6:  #ab6d84;
$color_7: #f1e31c;


$font-family_1: "Montserrat", sans-serif;
$background-color_1: var(--calc-bg);
$background-color_2: transparent;